.t-btn a{
    display:inline-block;
    text-align:center;
    font-size:14px;
    margin-right:4px;
    padding:2px 6px;
    padding:3px 6px 1px\9;
}
.t-btn a:hover{color:#FFF}
.t-btn .input{color:#999;font-size:12px;margin-right:5px}
.t-btn .rss{padding:0;vertical-align:bottom}
.t-btn label{margin-right:5px; margin-left:2px;vertical-align:middle}
.page{float:right;padding-top:2px;*padding-top:0}
.t-pre, .t-pre-bottom {
    margin-top:2px;
    width:100%;
}
.t-pre-bottom .t-btn {margin-left:5px;}

.b-head div{
    cursor:pointer;
}
.b-content{
    padding:1px 0;
    border:0 none;
    margin-top:0;
}


#quick_reply{width:100%; margin-top:4px; background:#f3f5fc;}
#quick_reply td{}
textarea{ width:99.5%; height:70px; border:1px solid #6688ee; font-size:12px;}
#quick_submit{width:70px;vertical-align:middle;}
#quick_submit .button{height:65px;width:65px;margin:3px;cursor:pointer}
