.t-pre, .t-pre-bottom {
    margin-top:3px;
    width:100%;
}
.t-pre-bottom .t-btn {margin-left:5px;}
.bmode{
    float:right;
}
.bmode span{
    display:inline-block;
    margin-right:2px;
}
.bmode a{
    display:inline-block;
    margin-left:2px;
    padding:2px 5px 1px;
}
.t-btn a{
    display:inline-block;
    text-align:center;
    font-size:14px;
    margin-right:4px;
    padding:2px 6px;
    padding:3px 6px 1px\9;
}
.t-btn a:hover{color:#FFF}
.t-btn .input{color:#999;font-size:12px;margin-right:5px}
.t-btn .rss{padding:0;vertical-align:middle}
.t-btn .rss samp{width:27px;height:15px}
.t-btn label{margin-right:5px; margin-left:2px;vertical-align:middle}
.page{float:right;padding-top:2px;*padding-top:0}

.b-head div a{ color:#f0d97f; padding-right:5px;}
.b-head div a:hover{color:#efdb8d;}
.b-content .middle{ text-align:center; }

/*section list*/
.title_1{ width:140px; padding-left:10px;}
.title_2{ width:100px;}
.title_3{ width:auto;}
.title_4{ width:45px;}
.title_5{ width:45px;}
.title_6{ width:45px;}
.title_7{ width:45px;}

/*board list*/
.board-list thead th.title_8{padding-left:7px;}
.title_8{ width:37px; padding-left:10px;}
.title_9{ width:auto;}
.title_10{ width:64px;}
.title_11{ width:35px;}
.title_12{ width:97px;}

/*elite list*/
.title_13{ width:35px; padding-left:5px;}
.title_14{ width:35px;}
.title_15{ width:auto;}
.title_16{ width:125px;}
.title_17{ width:80px;}
.middle{text-align:center;}

.board-list .top .title_9 a{
    color:red;
}
.board-list .tag{
    width: 16px;
    height: 17px;
}
.board-list .tag-att{
    width:7px;
    height: 16px;
    margin-left:4px;
}
.board-list .threads-tab{ font-weight:bold; padding-left:4px;}
.board-list .threads-tab a{margin:0 3px}

/*denylist*/
#deny_list th.c_op{padding-left:5px}
#deny_list .c_num{width:37px;padding-left:7px}
#deny_list .c_userid{width:120px}
#deny_list .c_userid input{width:90px}
#deny_list .c_reason input{width:150px;margin-right:10px}
#deny_list select{background-color:#ffffff}
#deny_list .c_desc{width:160px}
#deny_list .c_desc input{width:30px}
#deny_list .c_op{width:85px}
#deny_list .c_op input{margin-left:5px}
#m_deny li span {
    padding-right:4px;
    vertical-align: middle;
}
#m_deny .input-text{
    width:150px;
    margin-right:4px;
}
