/* css reset html5 from http://html5reset.org/ */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0 none;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}                                   

article, aside, figure, footer, header, hgroup, nav, section {
    display: block;
}

/* 
 * Responsive images and other embedded objects
 * Note: keeping IMG here will cause problems if you're using foreground images as sprites.
 * If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. 
 */ 
img.responsive, object.responsive, embed.responsive {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
 *  don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: text-bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99%}

table {font-size: inherit; font: 100%;}

/* 
 * Accessible focus treatment
 * people.opera.com/patrickl/experiments/keyboard/test 
 */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
 *  gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1;font-size:0}  
/* css reset html5 end */

/* jquery-ui patch */
body .ui-widget {font-family:ËÎÌו,Lucida Grande,Lucida Sans,Verdana,Arial,sans-serif}
body .ui-dialog .ui-dialog-titlebar { padding: .2em .5em;}
body .ui-dialog .ui-dialog-content {padding: .5em .6em;}
body .ui-button {width:100%;}
body .ui-button .ui-button-text {line-height: 1.2;*line-height:1}
body .ui-button-text-only .ui-button-text { padding: .2em .5em;*padding0 .5em}
body .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {width:100%}
body .ui-dialog .ui-dialog-buttonpane {margin: 0; padding: .1em .5em .3em}
body .ui-dialog .ui-dialog-buttonpane button { margin: .2em .2em 0 0;}

/* jquery-ui timepicker*/
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
/* jquery-ui patch end */

/* nforum base css */
ul,li{list-style:none}
body {font-size:12px; font-family:ËÎÌו,Lucida Grande,Lucida Sans,Verdana,Arial,sans-serif; background: #ecf4fd;line-height:1.2}  
a {color:#000; text-decoration:none;}  
a:hover{color:#6595d6;text-decoration:none;}
img{ border:0;}
input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"],
select,textarea{ 
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
}
input[type="text"],
input[type="password"]{
    padding:3px 2px;
}
input[type="radio"]
input[type="checkbox"]{
    padding:0;
    margin:0;
}
input[disabled="disabled"]{color:#999;border-color:#999}
table{table-layout:fixed;}
th,td{vertical-align: middle}
td{overflow:hidden;word-wrap:break-word;}
td img{vertical-align:bottom}
samp{ display:inline-block;vertical-align:middle;background-image:url(../img/ico.gif);background-repeat:no-repeat;outline: none;}
.input-text,select,textarea{
    border:1px solid #7F9DB9;
    background:-moz-linear-gradient(top , #eee, #fff 8px);
    background:-webkit-gradient(linear,0% 0%, 0% 30%, from(#eee), to(#fff))
}
.input-text{}
.input-text:focus,textarea:focus,.ie-input-focus{
    border:1px solid #FD8000;
    -moz-box-shadow:0px 0px 2px #FD8000;
    -webkit-box-shadow:0px 0px 2px #FD8000;
    box-shadow:0px 0px 2px #FD8000;
}
.submit{
    -moz-border-radius: 4px;  
    -webkit-border-radius: 4px;
    border-radius:4px;  
    border:1px solid #77a2d2;
    font-size:12px;
    background:#ecf4fd;
    color:#4c6785;
    cursor:pointer;
    padding:2px 3px;
    *padding:3px 3px 0;
    overflow:visible;
    background:-moz-linear-gradient(center top, #EEF6FF,#E1EAF2);
    background:-webkit-gradient(linear,0% 0%, 0% 100%, from(#EEF6FF), to(#E1EAF2))
}
.submit:hover{
    border-color:#FC7E00;
}
.button{
    -moz-border-radius:4px;  
    -webkit-border-radius:4px;
    border-radius:4px;  
    font-size:12px;
    background:#598ede;
    border:1px solid #598ede;
    color:#FFF;
    cursor:pointer;
    padding:2px 3px;
    *padding:3px 3px 0;
    overflow:visible;
    background:-moz-linear-gradient(center top, #5F97ED,#5080C7);
    background:-webkit-gradient(linear,0% 0%, 0% 100%,  from(#5F97ED), to(#5080C7))
}
.corner{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

/* tab start */
.tab-normal{
    border:3px double #fff; 
    *border-color:#eee; 
    background:#eee; 
    color:#598EDE;
    font-weight:bold;
    cursor:pointer;
}
.tab-normal:hover{
    *border-color:#598ede; 
    background:#598ede; 
    color:#fff; 
}
.tab-down{
    *border-color:#598ede; 
    background:#598ede; 
    color:#fff; 
    cursor:auto;
}
/* tab end*/

/* pagination start */
.pagination{
   padding:3px 0px;
   *padding:2px 0 0;
}
.pagination i{ padding-right:1px; }
.pagination li{margin-left:2px; display:inline-block;*display:inline;*zoom:1}
.page-pre{*height:16px;}
.page-main li{}
.page-main a{padding:2px 3px 1px 4px;padding-bottom:0\9;text-decoration:none;text-align:center;*zoom:1}
.page-main a:hover{text-decoration:none;}
.page-normal a{ border:3px double #fff; *border-color:#eee; background:#eee; color:#06f; }
.page-normal a:hover{ border-color:#fff; *border-color:#598ede; background:#598ede; color:#fff;}
.page-select a{ border:3px double #fff; *border-color:#598ede; background:#598ede; color:#fff; }
.page-select a:hover{cursor:default;}
.page-main .page-omit {}
.page-jump .input-text{padding:1px 0;margin-top:-3px;width:20px}
.page-jump .button{padding:2px 3px;margin-left:1px;margin-top:-3px}
/* pagination end */

/* auto vertical-middle */
.auto-ver-middle{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width:99.9%;
    *display:inline;
    *zoom:1
}
.auto-ver-middle-max{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    *display:inline;
    *zoom:1
}
/* auto vertical-middle end */

/* ico postion*/
.ico-pos-article-normal{background-position: -16px -21px}
.ico-pos-article-light{background-position: 0px -21px}
.ico-pos-article-fire{background-position: -156px -21px}
.ico-pos-article-huo{background-position: -172px -21px}
.ico-pos-article-g{background-position: -64px -21px}
.ico-pos-article-m{background-position: -48px -21px}
.ico-pos-article-b{background-position: -140px -21px}
.ico-pos-article-top{background-position: -80px -21px}
.ico-pos-article-lock{background-position:-32px -21px}
.ico-pos-article-dir{background-position:-96px -21px}
.ico-pos-article-attach{background-position:-189px -22px}
.ico-pos-w-collapse-on{background-position:-52px -1px}
.ico-pos-w-collapse-off{background-position:-38px -1px}
.ico-pos-w-rss{background-position:-361px -3px}
.ico-pos-w-update{background-position:-121px -1px}
.ico-pos-w-edit-on{background-position:0 -1px}
.ico-pos-w-edit-off{background-position:-66px -1px}
.ico-pos-w-remove{background-position:-24px -1px}
.ico-pos-online-hide{background-position:-428px -3px}
.ico-pos-offline-hide{background-position:-413px -3px}
.ico-pos-online-man{background-position:-383px -2px}
.ico-pos-offline-man{background-position:-398px -2px}
.ico-pos-online-woman{background-position:-443px -2px}
.ico-pos-offline-woman{background-position:-458px -2px}
.ico-pos-tag-on{background-position:-160px -5px;}
.ico-pos-tag-off{background-position:-172px -5px}
.ico-pos-cdot{background-position:-184px -5px}
.ico-pos-dot{background-position:-375px -7px;}
.ico-pos-forward{background-position:-196px -2px;}
.ico-pos-edit{background-position:-212px -2px;}
.ico-pos-reply{background-position:-228px -2px;}
.ico-pos-query{background-position:-244px -2px;}
.ico-pos-friend{background-position:-260px -2px;}
.ico-pos-mess{background-position:-276px -2px;}
.ico-pos-del{background-position:-292px -2px;}
.ico-pos-recomend{background-position:-308px -2px;}
.ico-pos-search{background-position:-324px -2px;}
.ico-pos-template{background-position:-340px -2px;}
.ico-pos-hide{background-position:-112px -21px;}
.ico-pos-show{background-position:-126px -21px;}
.ico-pos-rss{background-position:-197px -21px;}
.ico-pos-user{background-position:-224px -21px;}
.ico-pos-deny{background-position:-239px -21px;}
.ico-pos-manage{background-position:-255px -20px;}
/* ico postion end*/
/* nforum base end*/

/*header start*/
#top_head{
    height:92px;
    clear:both;
    margin:auto;
    overflow:hidden;
    background-color:#fff;
}
#top_menu{ float:right; }
#top_menu ul{ margin-top:10px; margin-right:6px; }
#top_menu ul li{ margin-bottom:5px; }
#top_menu ul a{ color:#666; text-decoration:underline; }
#top_menu ul a:hover{ color:#06C; }
#top_logo{ margin:14px 0px 0 10px;}
#top_logo img{ position:relative;z-index:1}

/* banner start */
#ban_ner{
    margin:auto;
    margin-top:-94px;
    *margin-top:-90px;
    width:610px;
    height:90px;
    padding:4px 0 0 110px;
}
#ban_ner_wrapper{
    border: 1px outset #BBB;
    width: 600px;
    height: 80px;
    padding: 1px;
    position:relative;
    overflow:hidden;
    -moz-box-shadow:0 0 3px #bbb;
    -webkit-box-shadow:0 0 3px #bbb;
    -box-shadow:0 0 3px #bbb;
}
#ban_ner_wrapper .xslider nav {
    position:absolute;
    right:3px;
    bottom:3px;
    z-index:10;
}
#ban_ner_wrapper .xslider nav li{
    display: inline;
    float: left;
    margin-left:2px;
}
#ban_ner_wrapper .xslider nav a{
    font-family:Verdana,Arial;
    font-size:10px;
    display: block;
    width: 16px;
    height: 16px;
    line-height:16px;
    background-color:#000;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    cursor: pointer;
    opacity:0.75;
}
#ban_ner_wrapper .xslider nav a.current{
    background-color: #a00000;
    opacity:1;
    font-weight:bold;
}
/* banner end */
/*head end*/

/*menu start*/
#menu{
    float:left;
    width:156px;
    margin:2px 0 0 3px;
}
#u_login{
    border:1px solid #c3d9ff;
    background-color:#FFF;
    padding:11px 0 8px;
    overflow:hidden;
}
.u-login-input,.u-login-check,.u-login-op{
    padding:3px 0;
}
.u-login-input .input{ width:94px; height:14px; }
.u-login-input span{
    display:inline-block;
    width:36px;
    text-align:right;
    padding-right:4px;
}
.u-login-check{
    padding:2px 0;
    padding-left:17px;
}
.u-login-check input{
    margin-top:-2px;
}
.u-login-check label{
    padding-left:8px;
    cursor:pointer;
}
.u-login-op .submit{
    width:60px;
    margin:0 -2px 0 11px;
}

.u-login-id{
    font-size:14px;
    padding-left:8px;
    font-weight:bold
}
.u-login-id samp{
    width: 12px;
    height: 16px;
    margin-right:6px;
}
.u-login-id a{ 
    color:#598ede; 
    padding-left:1px;
    font-weight:normal
}
.u-login-list{
    margin-top:4px;
    margin-left:28px;
    _margin-left:27px;
    line-height:18px;
}
.u-login-list span{
    color:#f00;
}
#left_line{position:relative;width:100%;height:3px;_zoom:1}
#left_line samp{
    width:14px;
    height:15px;
    cursor:pointer;
    position:absolute;
    top:-7px;
    right:-7px;
    z-index:2;
}

/* tree */
#xlist{
    padding:10px 8px;
    border:1px solid #c3d9ff;
}
#xlist li ul{
    margin-top:3px;
}
.x-folder,.x-leaf{
    height:28px;
    border-bottom:1px solid #c9d7f1; 
    display:block;
    padding-left:3px;
    font-size:13px;
}
.x-folder a,.x-leaf a{
    float:left;
    padding-top:7px;
}
.x-folder:hover,.x-leaf:hover{
    background-color:#598ede;
    cursor:pointer;
    -moz-border-radius: 4px;  
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.x-folder:hover a,.x-leaf:hover a{
    color:#fff;
}
.toggler{
    float:left;
    background-image:url(../img/ico.gif);
    height:12px;
    width:12px;
    margin-right:6px;
    margin-top:8px;
    cursor:pointer;
}
.x-child .toggler{
    margin-top:0px;
}
.folder-open > span > .toggler,
.folder-open-last > span  > .toggler{
    background-position:-160px -6px
}
.folder-close > span  > .toggler,
.folder-close-last > span  > .toggler{
    background-position:-172px -6px
}
.leaf > span  > .toggler,
.leaf-last > span  > .toggler{
    background-position:-375px -7px;
    width:8px;
}
.folder-open .toggler,
.folder-open-last .toggler{
    _background-position:-160px -6px
}
.folder-close .toggler,
.folder-close-last .toggler{
    _background-position:-172px -6px
}
.leaf .toggler,
.leaf-last .toggler{
    _background-position:-375px -7px;
    _width:8px;
}

.x-leaf .toggler{
    background-position:-184px -6px
}
.x-child{
    display:none;
}
.x-child li{
    padding:2px 1px 1px 8px;
}
.x-child li > span{
    height:1.2em;
    display:inline-block;
    overflow:hidden;
    width: 100%
}
.x-child a {
    font-weight:bold;
}
.x-child .leaf a,.x-child .leaf-last a{
    font-weight:normal;
}
.leaf-last samp,.leaf samp{
    display:inline-block;
    height:12px;
    width:8px;
    margin-left:2px;
    margin-right:5px;
    float:left;
}
.x-child span.active  > a,
.x-child span.active > a{
    font-weight:bold;
    color:#609;
}

.x-search{
    padding-top:1px;
    padding-bottom:3px
}
.x-search input{
    color:#999;
    width:100px;
    height: 16px;
    margin-top:4px;
}
.x-search .toggler{
    margin-top:10px
}
/* tree end */

#left_adv {text-align:center;}
#left_adv a{margin-top:8px;display:inline-block}
#left_adv img{margin:auto}
/*menu end*/

/* middle */
#main{
    margin:2px 3px 0 162px;
    _margin-left:165px;
    border:1px solid #c3d9ff;
    background:#FFF;
    display:block;
    padding:10px 7px;
}
#notice{
    border:1px solid #d9e7ff;
    background:#f2f6f9;
    padding:4px 5px;
    line-height:14px;
    *padding-bottom:1px;
}
#notice_nav {display:inline-block;}
#body{
    width:100%;
    _width:99.5%;
    overflow:hidden;
}
.b-head{
    background:#598ede;
    padding:4px 10px 0;
    margin-top:3px;
    font-size:13px;
    font-weight:bold;
    color:#FFF;
    height:18px;
}
.b-head .n-left{
    display:inline-block;
}
.b-head .n-right{
    float:right; 
    font-size:12px;
}
.n-right a{
    color:#ddd;
}
.b-content{
    border:1px solid #d9e7ff;
    background:#FFF;
    padding:10px;
    border-top:0 none;
    overflow:hidden;
    -moz-border-radius:0 0 4px 4px;
    -webkit-border-radius:0 0 4px 4px;
    border-radius:0 0 4px 4px;
    clear:both;
}
/* middle  end*/

/*footer start*/
#bot_foot{
    width:500px;
    margin:auto;
    padding:15px 0 10px;
}
#bot_logo img{
    float:left;
    margin-right:15px;
    border-right:1px solid #999999;
    padding-right:15px;
}
#bot_info{text-align:left;}
#bot_info span{ font-weight:bold;font-size:12px}
#bot_info .c-total{ color:red}
#bot_info .c-user{ color:blue}
#bot_info .c-guest{ color:black}
.copyright{
    font-family:"Times New Roman",Times,serif;
}
/*footer end*/

/* tips */
#nforum_tips{
    position:fixed;
    top:0;
    right:0;
    padding:5px;
    background-color:#FFF1A8;
    font-weight:bold;
    display:none;
    z-index:2000;
}
/* tips end */

/* article */
/* article common */
.a-wrap{
    border:1px solid #d4e6fc;
    margin:3px 0;
}
.article{
    width:100%; 
}
.article td{
    vertical-align:top;
    background-color:#f3f5fc;
}
.a-left{ 
    width:170px;
    border-right:1px solid #d4e6fc;
}
.a-pos{ 
    float:right; 
    font-size:12px; 
    color:#2244bb; 
    padding-right:5px;
    padding-top:2px;
}

/* article status */
.a-status{
    float:left;
}
.a-status li{
    height:16px;
    line-height:16px;
    text-align:center;
    margin-left:10px;
    display:inline-block;
    *display:inline;
    *zoom:1;
}
.a-status li samp{
    width:16px;
    height:18px;
}
/* article op */
.a-func{
    float:left;
    font-size:0;
}
.a-func li{ 
    margin-left:10px; 
    display:inline-block;
    *display:inline;
    *zoom:1;
}
.a-func li a{
    font-size:12px;
    color:#2244bb;
    vertical-align:middle;
    padding-top:2px;
    *zoom:1;
}
.a-func li span{
    font-size:12px;
}
.a-func li samp{
    margin-right:4px;
    width:16px;
    height:16px;
}
.a-func-info li{margin-left:6px} 

/* article user */
.a-u-name{
    float:left; 
    margin-left:15px;
    font-weight:bold;
    padding-top:2px;
}
.a-u-sex{ float:right; margin-right:8px }
.a-u-sex samp{
    width: 15px;
    height: 17px;
}
.a-u-img{width:124px;margin:12px auto 8px;}
.a-u-img img{
    display:block; 
    border:1px solid #CCC; 
    padding:2px;
}
.a-u-uid,.a-u-info{width:120px;margin:auto;margin-bottom:8px;}
.a-u-uid{color:#000}
.a-u-info{overflow:hidden}
.a-u-info dt,.a-u-info dd{color:#666;line-height:1.4em;float:left;height:1.4em;overflow:hidden;}
.a-u-info dt{width:50px;}
.a-u-info dd{width:70px;color:#000;}

/* article content */
.a-content{
    padding:10px;
    font-size:13px;
    line-height:1.4
}
.a-content img{
    display:inline;
}
.a-content img.resizeable{
    -moz-box-shadow:3px 3px 6px #333;
    -webkit-box-shadow:3px 3px 6px #333;
    box-shadow:3px 3px 6px #333;
    margin-right:8px;
    margin-bottom:8px;
    *margin:0px;
    *border:1px solid #CCC; 
    *padding:2px;
}
.a-content a{color:#00f}
.a-content a:hover{text-decoration:underline}

/* article head */
.a-head{height:22px}
.a-head td{border-top-width:0;vertical-align:middle}

/* article body */
.a-body td{background-color:#FFF}

/* article bottom */
.a-bottom{
    color:#2244bb; 
    font-size:12px; 
    height:23px;
}
.a-bottom td{border-bottom-width:0;vertical-align:middle; }
.a-back{float:right;padding-right:5px}
/* article end */

/* tmpl_forward */
#a_forward li {
    padding:4px 0 4px 4px;
}
#a_forward li span {
    padding-right:4px;
}
#a_forward .input-text{
    width:120px;
    margin-right:4px;
}
/* tmpl_forward end */

/*corner default*/
.rc-head, .rc-bottom{display:block;background:#FFF;}
.rc1,.rc2,.rc3{display:block;border-width:0;border-style:solid;height:1px;line-height:1px;overflow:hidden}
.rc1{margin:0 4px;}
.rc2{margin:0 2px;border-width:0 2px;border-color:#bdcad8;}
.rc3{margin:0 1px;border-width:0 1px;height:2px;border-color:#bdcad8;}
.rc-head .rc1, .rc-bottom .rc1{background-color:#bdcad8;}
.rc-head b,.rc-bottom b{background-color:#FFF}
/*corner default end*/

/* nav common */
.mbar{
    color:#FFF; 
    padding-top:5px;
    background-color:#598ede;
    margin-top:3px;
    -moz-border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
    border-radius:4px 4px 0 0;
    overflow:hidden;
    _zoom:1;
}
.mbar li{float:left;margin-left:12px;_margin-left:8px;}
.mbar a{
    color:#FFF;
    font-size:14px;
    font-weight:bold;
    display:inline-block;
    padding:3px 6px 5px;
}
.mbar a:hover{
    -moz-border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
    border-radius:4px 4px 0 0;
    background-color:#FFF;
    color:#598ede;
    text-decoration:none;
    *zoom:1
}
.mbar .selected a{
    -moz-border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
    border-radius:4px 4px 0 0;
    background:#fff;
    color:#598ede;
}
.c-mbar{
    border-left:1px solid #d9e7ff;
    border-right:1px solid #d9e7ff;
    clear:both;
    padding:5px;
    padding-bottom:0;
    background:#FFF;
    _height:25px;
    overflow:hidden;
}
.c-mbar li{
    float:left;
    display:block;
    margin-left:8px;
}
.c-mbar li a{
    display:block;
    font-size:13px;
    color:#598ede;
    padding:4px 7px;
    padding:5px 7px 3px\9;
}
.c-mbar li .select{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background:#598ede;
    color:#ffffff;
}
.c-mbar li a:hover{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background:#598ede;
    color:#ffffff;
    text-decoration:none;
}
.c-mbar li a samp{
    float:left;
    width: 8px;
    height: 12px;
    margin-right:3px;
}
/* nav common end */

/* table common */
.m-table{width:100%;}
.m-table th,.m-table td{ border-bottom:1px solid #c9d7f1; vertical-align:middle;height:26px;}
.m-table th{background-color:#f5f8fb;}
.m-table tr:hover td{
    background-color:#f5f8fb
}

.board-list{
    width:100%;
    color:#666;
}
.board-list th{
    color:#666;
    background-color:#fbf5d9;
    font-weight:normal;
    vertical-align:bottom;
    padding-top:3px;
    padding-top:5px\9;
    padding-bottom:2px;
    text-align:left;
}
.board-list thead tr{
    border:1px solid #f2df95;
}
.board-list td{
    vertical-align:middle;
    border-bottom:1px solid #dce9f5;
    padding-top:8px;
    padding-bottom:3px;
    text-align:left;
}
.board-list tr:first-child td{
    padding-top:13px;
}
.board-list tr:hover td{
    background-color:#FBF5D9;
}
.bg-odd{background-color:#F2F6F9}
/* table common end */

/* user info */
.u-query{padding:10px 10px 0}
.u-name{color:#598edd; font-size:14px; *zoom:1;}
.u-name a{ padding-left:10px; padding-right:10px; }
.u-info {overflow:hidden;padding-top:10px}
.u-info header{
    border-bottom:1px solid #c7c8c9;
    color:#598edd;
    margin-bottom:10px;
    padding-bottom:3px;
    font-size:14px;
    *zoom:1;
}
.u-info figure{float:left;width:130px;margin-left:10px;margin-top:5px}
.u-info figure img{padding:2px; border:1px solid #598edd;}
.u-info dl{width:400px;float:left;margin-left:0px;}
.u-info dt, .u-info dd{color:#666;float:left;line-height:1.8em;height:1.8em;overflow:hidden}
.u-info dt{width:50px;text-align:right;padding-right:10px}
.u-info dd{width:340px;color:#000}

.u-detail dl{width:500px;margin-bottom:5px;}
.u-detail dt{width:80px;}
.u-detail dd{width:400px;}
.u-search{
    text-align:center;
    clear:both;
    display:block;
    border-top:1px #c7c8c9 solid;
    padding-top:10px;
}
.u-search .input-text{ height:16px; width:150px;margin-right:5px;}
/* user info end */

/* archive detail start*/
.m-op{padding:3px;background:#f5f8fb}
.m-func{font-size:0px}
.m-func li{
    margin-left:10px;
    display:inline-block;
    *display:inline;
    *zoom:1;
}
.m-func li a{
    font-size:12px;
    color:#2244bb;
    vertical-align:middle;
    padding-top:2px;
    *zoom:1;
}
.m-func li samp{
    margin-right:4px;
    width:16px;
    height:16px;
}
.m-content{padding:10px 17px;display:block;line-height:1.4;font-size:13px}
/* archive detail end*/

/* list block */
.list-block header{
    font-size:14px;
    font-weight:bold;
    color:#598EDE;
    padding:0 10px 2px 7px;
    border-bottom:1px solid #C9D7F1;
    clear:both;
}
.list-block ul{
    display:block;
    padding:20px 0 0 20px;
}
.list-block ul li{
    margin-bottom:10px;
}
.list-block ul.narrow{
    padding:10px 0 0 10px;
}
.list-block ul.narrow li{
    margin-bottom:5px;
}
/* list block end */

/*colors*/
.c63f{color:#609}
.c09f{color:#09f}
