#c_content{border:1px solid #598edd;margin-top:5px;padding-top:10px;padding-left:13px;}
#c_content ul li a{ color:#598edd; text-decoration:underline; padding-top:3px;}

/*user info start*/
#face_upload{display:inline-block;*display:inline;_zoom:1}
#face_upload_info{padding-left:10px;color:red}
.b-left-m{width:120px; float:left; font-size:14px; text-align:right; padding-top:3px; color:#666; font-weight:bold;}
.b-right-m{font-size:12px; text-align:right;color:#666;padding-left:10px;display:inline-block;vertical-align:middle}
.b-textarea{ width:510px; height:120px;_height:90px;}
.u-img-d{float:left;border:1px solid #c9d7f1;height:122px; width:380px; overflow:hidden;padding:0 10px;}
.u-img-d div{margin-top:12px;}
.u-img-d span{display:inline-block;text-align:center;width:60px; padding-top:5px;}
.u-img-d input{width:300px;}
.u-img-show{float:left;border:1px solid #c9d7f1;width:120px; margin-left:10px; padding:1px;height:120px;text-align:center;}
.u-img-show img{*zoom:1}
.b-op{ border-top:1px solid #c9d7f1;padding-left:130px;padding-top:10px;}
.b-op .button{margin-left:15px;}
/*user info end*/

/* user passwd start*/
.b-nc-change{ border:0px; margin-top:-10px;}
/* user passwd end*/

/* user custom start*/
#d_user{ width:100%; margin-top:1px;}
#d_user td{ vertical-align:bottom; padding-top:10px; padding-bottom:3px; border-bottom:1px solid #c9d7f1;}
#d_user tr:hover td{background-color: #f5f8fb}
.u-title-1{ width:350px; padding-left:40px;}
.u-title-1 span{ display:block; font-size:14px; font-weight:bold; color:#666; padding-bottom:3px;}
.u-title-2 input{margin-left:5px;}
.u-op{ border:0px; margin-top:0px;}
/* user custom end*/
