.b-content .middle{ text-align:center;}
.title_1{ width:140px; padding-left:10px;}
.title_2{ width:100px;}
.title_3{ width:auto;}
.title_4{ width:60px;}
.title_5{ width:60px;}
.title_6{ width:60px;}
.title_7{ width:60px;}
.title_8{ width:35px;}
#fav_op, #fav_add { float:left; margin-left:4px; margin-bottom:6px; }
#fav_add input, #fav_op input{ font-weight:normal;margin-right:4px;}
#fav_add{margin-left:24px}
#fav_add .button{margin-left:4px}
#fav_add .input-text{width:100px}
