#f_link{ border:1px solid #598edd; }
#f_link h6{ font-size:14px; color:#598ede; padding:2px 10px 2px 7px; border-bottom:1px solid #c9d7f1; margin:10px 13px; margin-bottom:0px; clear:both;}
#f_link ul{ 
    border-left:1px solid #c9d7f1; 
    border-top:1px solid #c9d7f1; 
    margin:10px auto; 
    margin-bottom:0px; 
    width:756px;
}
#f_link li{ 
    border-right:1px solid #c9d7f1; 
    border-bottom:1px solid #c9d7f1; 
    width:125px;
    text-align:center;
    padding:5px 0;
    display:inline-block;
    *display:inline;
    *zoom:1
}
#f_bottom{text-align:center;font-weight:bold;font-size:14px;padding-top:10px;padding-bottom:8px;}
