.friend-list,.mail-list{border-top:1px solid #c9d7f1;}
.title_1{ width:20px; padding-left:12px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .title_1{width:30px;}
}
.title_2{ width:100px; padding-left:12px;}
.title_3{ width:auto; padding-left:12px; font-size:12px;}
.title_4{ width:150px; padding-left:12px; color:#717171;}
.title_5{ width:250px; padding-left:12px; color:#717171;}
.title_6{ width:60px; padding-left:12px; color:#717171;}
.title_7{ width:30px; padding-left:12px; color:#717171;}
.no_read{color:#598ede; font-weight:bold;}
.no_read a{ color:#598ede; font-weight:bold;}
.middle{text-align:center padding-left:0}
.b_mail{z-index:1}

/* mail list start*/
.t-btn{float:left;padding-left:12px;}
.t-btn input{margin-right:5px;}
.t-btn .b-del{margin-left:5px;}
.page{float:right;}
.t-pre, .t-pre-bottom {
    padding:2px 0;
    width:100%;
    border-bottom:1px solid #c9d7f1;
    overflow:hidden;
}
/* mail list end*/

/* mail detail start*/
.m-op{padding:3px;background:#f5f8fb}
.m-func{font-size:0px}
.m-func li{ 
    margin-left:10px; 
    display:inline-block;
    *display:inline;
    *zoom:1;
}
.m-func li a{
    font-size:12px;
    color:#2244bb;
    vertical-align:middle;
    padding-top:2px;
    *zoom:1;
}
.m-func li samp{
    margin-right:4px;
    width:16px;
    height:16px;
}
.mail{ padding:10px 17px;font-family:ו,Arial,Verdana; }
.mail-title{color:#598ede; font-weight:bold; }
.mail-title span{ font-weight:normal; }
.mail-content{ display:block;line-height:1.4;font-size:13px}
/* mail detail end*/

/*friend start*/
#f_add{padding:4px 12px;border-bottom:1px solid #c9d7f1;}
#f_add input{margin-left:5px}
/*friend end*/

/*online*/
.t-pre-online .t-btn{margin-top:2px;*margin-top:6px;*padding-left:0}
.t-pre-online .page{margin-top:0px;}
/*online end*/
