.friend-list,.mail-list{border-top:1px solid #c9d7f1;}
.title_1{ width:20px; padding-left:12px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .title_1{width:30px;}
}
.title_2{ width:100px; padding-left:12px;}
.title_3{ width:auto; padding-left:12px; font-size:12px;}
.title_4{ width:150px; padding-left:12px; color:#717171;}
.title_5{ width:250px; padding-left:12px; color:#717171;}
.title_6{ width:60px; padding-left:12px; color:#717171;}
.title_7{ width:30px; padding-left:12px; color:#717171;}
.no_read{color:#598ede; font-weight:bold;}
.no_read a{ color:#598ede; font-weight:bold;}
.middle{text-align:center padding-left:0}
.b_mail{z-index:1}

/* mail list start*/
.t-btn{float:left;padding-left:12px;}
.t-btn input{margin-right:5px;}
.t-btn .b-del{margin-left:5px;}
.page{float:right;}
.t-pre, .t-pre-bottom {
    padding:2px 0;
    width:100%;
    border-bottom:1px solid #c9d7f1;
    overflow:hidden;
}
/* mail list end*/

/* mail detail start*/
.m-op{ height:18px;background:#f5f8fb;_background:#f5f8fb;}
.m-func{ height:16px; padding-top:2px;}
.m-func li{ 
    margin-left:10px; 
    *margin-left:4px; 
    float:left; 
}
.m-func li a{ font-size:12px; color:#2244bb;}
.m-func li samp{
    margin-right:4px;
    _margin-right:2px;
}
.m-func li.m-reply samp{ width:10px; height:18px;*margin-top:-1px}
.m-func li.m-message samp{ width: 12px; height: 18px;*margin-top:-1px }
.m-func li.m-edit samp{width:14px; height: 18px; *margin-top:-1px}
.m-func li.m-del samp{ width: 14px; height: 18px; }
.m-func_info{ margin-left:0px;}
.mail{ padding:10px 17px;font-family:ËÎÌו,Arial,Verdana; }
.mail-title{ font-size:14px; color:#598ede; font-weight:bold; }
.mail-title span{ font-weight:normal; }
.mail-content{ display:block; margin-top:10px; }
/* mail detail end*/

/*friend start*/
#f_add{padding:4px 12px;border-bottom:1px solid #c9d7f1;}
#f_add input{margin-left:5px}
/*friend end*/

/*online*/
.t-pre-online .t-btn{margin-top:2px;*margin-top:6px;*padding-left:0}
.t-pre-online .page{margin-top:0px;}
/*online end*/
