.post-list{ display:block; padding:0 30px}
.post-list li{padding-top:15px;}
.post-list .upload{}
.post-m{color:#666; font-size:14px; font-weight:bold; padding-bottom:4px;}
.post-m span{color:red;font-size:12px;font-weight:normal}
.post-title{ width:680px;font-size:18px;}
.c-textarea{ height:200px; width:680px; border:1px solid #b6c3da;}
.post-op{padding-bottom:5px}
.post-op input{margin-right:5px}
.post-select{margin-left:5px}
.post-su{border-top:1px solid #c9d7f1; margin:25px 15px 10px 15px; padding-top:15px;}
.post-su .button{font-size:14px;margin-left:100px; margin-right:-70px;}
#em_img{ border:1px solid #c9d7f1;display:block;height:auto;width:610px;clear:both;overflow:hidden}
#con_c_area{ display:block; border:1px solid #c9d7f1; padding:5px; width:680px; overflow:visible;}
.tmpl{padding:10px 15px}
.m-table td{text-align:center;}
.que td{height:auto}
.tmpl-op td{padding:4px 0}
.col1{width:40px;}
.col2{width:auto}
.col3{width:70px}
.col4{width:70px}
.col5{width:400px}
.col6{width:auto}
