#wrap{ text-align:center; }
#preImg{margin:40px auto 0;width:640px;height:400px}
#preImg img{ border:2px solid #000; }
#login{ margin-top:10px; }
select,input{margin-right:5px;}
select{height:22px;vertical-align:bottom}
#login .input-text{height:14px;margin-left:2px;margin-right:4px;}
#login span{font-size:14px;}
#id{width:100px}
#pwd{font-size: 12px;width:100px}
.radio{ }
#b_adv ul{margin-top:14px;}
#b_adv li{display:inline;margin:0 7px;}
