.b-content{padding:20px;padding-left:30px;}
.u-name{ color:#598edd; font-size:14px; *zoom:1; }
.u-name a{ padding-left:10px; padding-right:10px; }
.u-title{
    display:block;
    border-bottom:1px solid #c7c8c9;
    color:#598edd;
    margin-top:20px;
    clear:both;
    margin-bottom:15px;
    padding-bottom:3px;
    font-size:14px;
    *zoom:1;
}
#u-img{ float:left;width:130px;margin-left:10px;margin-bottom:20px;}
#u-img img{ padding:2px; border:1px solid #598edd; }
.u-info{width:300px;float:left;margin-left:0px;}
.u-info dt, .u-info dd{color:#666;float:left;line-height:1.8em;height:1.8em;overflow:hidden}
.u-info dt{width:50px;text-align:right;padding-right:10px}
.u-info dd{width:240px;color:#000}
.u-detail {width:700px;margin-bottom:5px;}
.u-detail dt{width:80px;}
.u-detail dd{width:600px;}
.search_user{
    text-align:center;
    clear:both;
    display:block;
    border-top:1px #c7c8c9 solid;
    padding-top:10px;
}
.search_user .input_search{ height:16px; width:150px;margin-right:5px; }
