.widget-add-filter{
    text-align:center;
}
.widget-add-filter li{
    padding:2px 8px;
    *padding:3px 8px 0px;
    margin:0 3px;
    display:inline-block;
    *display:inline;
    *zoom:1;
}
.widget-add-search{
    margin:auto;
    width:380px;
    line-height:20px;
}
.widget-add-search span{
    color:#3e6195;
    font-size:14px;
    font-weight:bold;
    vertical-align:middle;
}
.widget-add-search .input-text{
    width:200px;
    vertical-align:middle;
}
.widget-add-search .button{
    width:70px;
    margin-left:6px;
    vertical-align:middle;
}
.widget-add-search select{
    margin-left:10px;
}
#widget_add{
    margin:10px 0;
    padding:10px 10px;
    border:1px solid #c9d7f1;
    clear:both;
}
#widget_add li{
    width:143px;
    height:143px;
    text-align:center;
    display:inline-block;
    *display:inline;
    *zoom:1
}
#widget_add li:hover{
    background:url(../img/app/hover.gif) no-repeat left top;
}
.widget-add-title{
    color:#4c72ac;
    font-size:14px;
    width:130px;
    margin:10px auto 0;
    height:18px;
    overflow:hidden;
}
.widget-add-logo{
    height:73px;
    margin:0 auto;
}
.widget-add-submit{
    width:110px;
    height:23px;
    margin:0 auto;
    margin-top:5px;
}
.widget-add-submit input{
    width:110px;
    margin:auto;
}
#widget_add_form li{ margin:4px 0; }
/*change widget end*/
