font.f000 {}
font.f001 {color: #e87874 }
font.f002 {color: #00b400 }
font.f003 {color: #aeb400 }
font.f004 {color: #7478e8 }
font.f005 {color: #e878e8 }
font.f006 {color: #00b4ae }
font.f007 {color: #303230 }
font.f008 {color: #747874 }
font.f009 {color: #e80000 }
font.f010 {color: #009600 }
font.f011 {color: #919600 }
font.f012 {color: #0000e8 }
font.f013 {color: #e800e8 }
font.f014 {color: #009691 }
font.f015 {color: #000000 }
font.f100 {color: #e8f0e8; background-color: #e8c8c1 }
font.f101 {color: #e87874; background-color: #e8c8c1 }
font.f102 {color: #00b400; background-color: #e8c8c1 }
font.f103 {color: #aeb400; background-color: #e8c8c1 }
font.f104 {color: #7478e8; background-color: #e8c8c1 }
font.f105 {color: #e878e8; background-color: #e8c8c1 }
font.f106 {color: #00b4ae; background-color: #e8c8c1 }
font.f107 {color: #303230; background-color: #e8c8c1 }
font.f108 {color: #747874; background-color: #e8c8c1 }
font.f109 {color: #e80000; background-color: #e8c8c1 }
font.f110 {color: #009600; background-color: #e8c8c1 }
font.f111 {color: #919600; background-color: #e8c8c1 }
font.f112 {color: #0000e8; background-color: #e8c8c1 }
font.f113 {color: #e800e8; background-color: #e8c8c1 }
font.f114 {color: #009691; background-color: #e8c8c1 }
font.f115 {color: #000000; background-color: #e8c8c1 }
font.f200 {color: #e8f0e8; background-color: #c1f0c1 }
font.f201 {color: #e87874; background-color: #c1f0c1 }
font.f202 {color: #00b400; background-color: #c1f0c1 }
font.f203 {color: #aeb400; background-color: #c1f0c1 }
font.f204 {color: #7478e8; background-color: #c1f0c1 }
font.f205 {color: #e878e8; background-color: #c1f0c1 }
font.f206 {color: #00b4ae; background-color: #c1f0c1 }
font.f207 {color: #303230; background-color: #c1f0c1 }
font.f208 {color: #747874; background-color: #c1f0c1 }
font.f209 {color: #e80000; background-color: #c1f0c1 }
font.f210 {color: #009600; background-color: #c1f0c1 }
font.f211 {color: #919600; background-color: #c1f0c1 }
font.f212 {color: #0000e8; background-color: #c1f0c1 }
font.f213 {color: #e800e8; background-color: #c1f0c1 }
font.f214 {color: #009691; background-color: #c1f0c1 }
font.f215 {color: #000000; background-color: #c1f0c1 }
font.f300 {color: #e8f0e8; background-color: #e8f0b8 }
font.f301 {color: #e87874; background-color: #e8f0b8 }
font.f302 {color: #00b400; background-color: #e8f0b8 }
font.f303 {color: #aeb400; background-color: #e8f0b8 }
font.f304 {color: #7478e8; background-color: #e8f0b8 }
font.f305 {color: #e878e8; background-color: #e8f0b8 }
font.f306 {color: #00b4ae; background-color: #e8f0b8 }
font.f307 {color: #303230; background-color: #e8f0b8 }
font.f308 {color: #747874; background-color: #e8f0b8 }
font.f309 {color: #e80000; background-color: #e8f0b8 }
font.f310 {color: #009600; background-color: #e8f0b8 }
font.f311 {color: #919600; background-color: #e8f0b8 }
font.f312 {color: #0000e8; background-color: #e8f0b8 }
font.f313 {color: #e800e8; background-color: #e8f0b8 }
font.f314 {color: #009691; background-color: #e8f0b8 }
font.f315 {color: #000000; background-color: #e8f0b8 }
font.f400 {color: #e8f0e8; background-color: #c1c8e8 }
font.f401 {color: #e87874; background-color: #c1c8e8 }
font.f402 {color: #00b400; background-color: #c1c8e8 }
font.f403 {color: #aeb400; background-color: #c1c8e8 }
font.f404 {color: #7478e8; background-color: #c1c8e8 }
font.f405 {color: #e878e8; background-color: #c1c8e8 }
font.f406 {color: #00b4ae; background-color: #c1c8e8 }
font.f407 {color: #303230; background-color: #c1c8e8 }
font.f408 {color: #747874; background-color: #c1c8e8 }
font.f409 {color: #e80000; background-color: #c1c8e8 }
font.f410 {color: #009600; background-color: #c1c8e8 }
font.f411 {color: #919600; background-color: #c1c8e8 }
font.f412 {color: #0000e8; background-color: #c1c8e8 }
font.f413 {color: #e800e8; background-color: #c1c8e8 }
font.f414 {color: #009691; background-color: #c1c8e8 }
font.f415 {color: #000000; background-color: #c1c8e8 }
font.f500 {color: #e8f0e8; background-color: #e8c8e8 }
font.f501 {color: #e87874; background-color: #e8c8e8 }
font.f502 {color: #00b400; background-color: #e8c8e8 }
font.f503 {color: #aeb400; background-color: #e8c8e8 }
font.f504 {color: #7478e8; background-color: #e8c8e8 }
font.f505 {color: #e878e8; background-color: #e8c8e8 }
font.f506 {color: #00b4ae; background-color: #e8c8e8 }
font.f507 {color: #303230; background-color: #e8c8e8 }
font.f508 {color: #747874; background-color: #e8c8e8 }
font.f509 {color: #e80000; background-color: #e8c8e8 }
font.f510 {color: #009600; background-color: #e8c8e8 }
font.f511 {color: #919600; background-color: #e8c8e8 }
font.f512 {color: #0000e8; background-color: #e8c8e8 }
font.f513 {color: #e800e8; background-color: #e8c8e8 }
font.f514 {color: #009691; background-color: #e8c8e8 }
font.f515 {color: #000000; background-color: #e8c8e8 }
font.f600 {color: #e8f0e8; background-color: #b8f0e8 }
font.f601 {color: #e87874; background-color: #b8f0e8 }
font.f602 {color: #00b400; background-color: #b8f0e8 }
font.f603 {color: #aeb400; background-color: #b8f0e8 }
font.f604 {color: #7478e8; background-color: #b8f0e8 }
font.f605 {color: #e878e8; background-color: #b8f0e8 }
font.f606 {color: #00b4ae; background-color: #b8f0e8 }
font.f607 {color: #303230; background-color: #b8f0e8 }
font.f608 {color: #747874; background-color: #b8f0e8 }
font.f609 {color: #e80000; background-color: #b8f0e8 }
font.f610 {color: #009600; background-color: #b8f0e8 }
font.f611 {color: #919600; background-color: #b8f0e8 }
font.f612 {color: #0000e8; background-color: #b8f0e8 }
font.f613 {color: #e800e8; background-color: #b8f0e8 }
font.f614 {color: #009691; background-color: #b8f0e8 }
font.f615 {color: #000000; background-color: #b8f0e8 }
font.f700 {color: #e8f0e8; background-color: #c1c8c1 }
font.f701 {color: #e87874; background-color: #c1c8c1 }
font.f702 {color: #00b400; background-color: #c1c8c1 }
font.f703 {color: #aeb400; background-color: #c1c8c1 }
font.f704 {color: #7478e8; background-color: #c1c8c1 }
font.f705 {color: #e878e8; background-color: #c1c8c1 }
font.f706 {color: #00b4ae; background-color: #c1c8c1 }
font.f707 {color: #303230; background-color: #c1c8c1 }
font.f708 {color: #747874; background-color: #c1c8c1 }
font.f709 {color: #e80000; background-color: #c1c8c1 }
font.f710 {color: #009600; background-color: #c1c8c1 }
font.f711 {color: #919600; background-color: #c1c8c1 }
font.f712 {color: #0000e8; background-color: #c1c8c1 }
font.f713 {color: #e800e8; background-color: #c1c8c1 }
font.f714 {color: #009691; background-color: #c1c8c1 }
font.f715 {color: #000000; background-color: #c1c8c1 }
font.f800 {color: #e8f0e8; background-color: #e8f0e8 }
font.f801 {color: #e87874; background-color: #e8f0e8 }
font.f802 {color: #00b400; background-color: #e8f0e8 }
font.f803 {color: #aeb400; background-color: #e8f0e8 }
font.f804 {color: #7478e8; background-color: #e8f0e8 }
font.f805 {color: #e878e8; background-color: #e8f0e8 }
font.f806 {color: #00b4ae; background-color: #e8f0e8 }
font.f807 {color: #303230; background-color: #e8f0e8 }
font.f808 {color: #747874; background-color: #e8f0e8 }
font.f809 {color: #e80000; background-color: #e8f0e8 }
font.f810 {color: #009600; background-color: #e8f0e8 }
font.f811 {color: #919600; background-color: #e8f0e8 }
font.f812 {color: #0000e8; background-color: #e8f0e8 }
font.f813 {color: #e800e8; background-color: #e8f0e8 }
font.f814 {color: #009691; background-color: #e8f0e8 }
font.f815 {color: #000000; background-color: #e8f0e8 }
