#f_link{ border:1px solid #598edd;padding:10px 13px}
#f_link ul{ 
    padding:0;
    border-left:1px solid #c9d7f1; 
    border-top:1px solid #c9d7f1; 
    margin:10px auto; 
    margin-bottom:0px; 
    width:756px;
}
#f_link li{ 
    margin:0;
    border-right:1px solid #c9d7f1; 
    border-bottom:1px solid #c9d7f1; 
    width:125px;
    text-align:center;
    padding:5px 0;
    display:inline-block;
    *display:inline;
    *zoom:1
}
#f_bottom{text-align:center;font-weight:bold;font-size:14px;padding-top:10px;padding-bottom:8px;}
