.friend-list,.mail-list{border-top:1px solid #c9d7f1;}
.title_1{ width:20px; padding-left:12px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .title_1{width:30px;}
}
.title_2{ width:100px; padding-left:12px;}
.title_3{ width:auto; padding-left:12px; font-size:12px;}
.title_4{ width:150px; padding-left:12px; color:#717171;}
.title_5{ width:250px; padding-left:12px; color:#717171;}
.title_6{ width:60px; padding-left:12px; color:#717171;}
.title_7{ width:30px; padding-left:12px; color:#717171;}
.no-read a{ color:#598ede; font-weight:bold;}
.middle{text-align:center padding-left:0}

/* mail list start*/
.t-btn{float:left;padding-left:12px;}
.t-btn input{margin-right:5px;}
.t-btn .mail-select{padding-top:0;padding-bottom:0}
.page{float:right;}
.t-pre, .t-pre-bottom {
    padding:2px 0;
    width:100%;
    border-bottom:1px solid #c9d7f1;
    overflow:hidden;
}
.mail-list .m-table tr:hover{cursor:pointer}
.mail-info{
    float:right;
    padding-top:5px;
    padding-right:20px;
}
.mail-info-use,.mail-info-total{
    display:inline-block;
    height:16px;
    line-height:16px;
}
.mail-info-bar{
    display:inline-block;
    border:1px solid #598EDE;
    vertical-align:bottom;
    height:14px;
    margin:0 6px;
    width:100px;
}
.mail-info-scroll{
    display:inline-block;
    height:14px;
    background-color:#598EDE;
}
.mail-info-warning{
    background-color:red;
    border-color:red;
}
/* mail list end*/

/*friend start*/
.t-btn .friend-select{padding-top:0;padding-bottom:0}
#friend_add{padding:4px 12px;border-bottom:1px solid #c9d7f1;}
#friend_add input{margin-left:5px}
/*friend end*/

/*online*/
.t-pre-online .t-btn{margin-top:2px;*margin-top:6px;*padding-left:0}
.t-pre-online .page{margin-top:0px;}
/*online end*/
